<script type="text/javascript">
  function init() {
      initCarousel();
      return;
  }
  $(document).ready(function() { init(); });   
</script>
<h1>About us</h1>
<p>Firstly, thank you for using our awesome Tennis Matchmaker web application,
and even more thanks to you for checking out our "About us" page to learn more
about the background of the application.</p>
<h2>Who are we?</h2>
<p>We are a small group of students from the University of Melbourne, who met
each other while studying the same subject. It is by no surprise that the
subject is Web Information Technologies, and we formed a small team of six
people to develop a web application "Tennis Matchmaker" as a project for the
course.</p>
<section id="carousel-container">
  <div id="carousel" data-carousel-current-panel-index="0">
    <% @developers.each do |d| %>
      <figure class="carousel-panel"><div class="carousel-content">
        <% if d.display_picture_url %>
          <%= image_tag(d.display_picture_url, options={alt: d.display_name}) %>
        <% end %>
        <h2><%= d.display_name %></h2>
        <p><strong>Email: </strong><br><%= d.email %></p>
        <p><strong>Biography: </strong><br><%= simple_format(d.biography, nil, wrapper_tag: "span") %></p>
      </div></figure>
    <% end %>
  </div>
</section>
<div class="carousel-buttons-menu" style="style: centre;">
  <p class="text-muted"><i>You can also use the arrows keys and the mouse to scroll through the carousel.</i></p>
  <div class="btn-group">
    <a id="prev" class="btn btn-primary" href="#" title="Previous developer">Previous</a>
    <a id="next" class="btn btn-primary" href="#" title="Next developer">Next</a>
  </div>
</div>
<p>The idea to develop a tennis matchmakng application was conceived when one of
the group members (Geordie) saw the problem of university tennis courts being
deserted, not because nobody wanted to play, but it was difficult for friends
to arrange the same time to play together. There were no arrangements for
players to meet up with other people that are willing to play at that same time.
</p>
<p>Our web application aims to resolve that. By providing players an online
central hub where players can meet, communicate and arrange matches between
themselves with minimal fuss. Hopefully, the occupation of tennis courts at (but
not limited to) UoM will increase with our application.</p>
<p>In honesty, most of us are relatively new and inexperienced with developing
web applications. Even with some prior experience with programming and certain
web technologies, there were many difficulties faced during the development of
the project which hindered its progress. But even then, most of those
difficulties were overcomed, and many lessons (and skills) were learnt from the
project.</p>
