<script type="text/javascript">
  function init() {
      initCarousel();
      return;
  }
  $(document).ready(function() { init(); });   
</script>
<section id="carousel-container">
  <div id="carousel">
    <% @developers.each do |d| %>
      <figure class="carousel-panel"><div class="carousel-content">
        <% if d.display_picture_url %>
          <%= image_tag(d.display_picture_url, options={alt: d.display_name}) %>
        <% end %>
        <h2><%= d.display_name %></h2>
        <p><strong>Email: </strong><br><%= d.email %></p>
        <p><strong>Biography: </strong><br><%= simple_format(d.biography, nil, wrapper_tag: "span") %></p>
      </div></figure>
    <% end %>
  </div>
  <a id="prev" class="carousel-button" href="#" title="Next developer">Previous</a>
  <a id="next" class="carousel-button" href="#" title="Previous developer">Next</a>
</section>