<h1>Find Matches</h1>
<div style="position: absolute;z-index: 10;">
<%= form_tag({:action => 'carousel'}, :remote => true, :'data-update-target' => 'update-container') do %>
    <%= select_tag "match_type", options_for_select(['Any'] + Match::GENDER_VALID_MATCH_TYPES[current_user.gender])%>
    <%= submit_tag 'Find', :disable_with => 'Please wait...', :class => 'submit' %>
<% end %>
</div>
<br />
<br />
<div id="update-container">
<%#= render :partial => 'carousel', :locals => {:match_distances => @match_distances} %>
</div>