<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>Create a match</strong></h3>
	</div>
	
	<div class="panel-body">
	  <div class="row">
	    <div class="col-md-10">
	      <%= render 'form' %>
	    </div>
	    <div class="col-md-2" style="z-index:1000;">
	      <div id="carousel" data-carousel-current-panel-index="0">
		<figure class="carousel-panel-center">
		  hello
		</figure>
	      </div>
	    </div>
	  </div>
	</div>
</div>
